# Capstone Two - Data Wrangling

The dataset used was the 2017 National Household Travel Survey. This notebook will focus on the cleaning the data.

# Import packages

In [1]:
#import packages
import pandas as pd
import os
# import tabula
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Set Directories & Datasets

In [2]:
BASE_DIR = "/Users/Avinash/Documents/Kanchanah/Springboard/Data_Science_Track/Capstone_Two_Other_Material/"

PERSON = "Data/sas/perpub.sas7bdat"
HOUSEHOLD = "Data/sas/hhpub.sas7bdat"
#TRIP = "Data/sas/trippub.sas7bdat"
VEHICLE = "Data/sas/vehpub.sas7bdat"

# Read datasets


The National Household Travel Survey has 4 datasets. 

1. The Person dataset 
2. The Household dataset
3. The Vehicle dataset
4. The Travel dataset

We not be using the travel dataset since the information collected on travel was done different days.

## Person data

In [3]:
%%time
#import person data
data_person = pd.read_sas(os.path.expanduser(os.path.join(BASE_DIR, PERSON)),
                          format = 'sas7bdat', encoding="ISO-8859-1")

CPU times: user 1min 41s, sys: 11 s, total: 1min 52s
Wall time: 1min 56s

In [4]:
#Look at first few rows
data_person.head()

,HOUSEID,PERSONID,R_AGE,EDUC,R_HISP,R_RELAT,R_SEX,R_RACE,PRMACT,PAYPROF,...,SMPLSRCE,WTPERFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN
0,30000007,01,67.0,03,02,01,02,02,06,02,...,02,206.690153,T,50,1500,750,750,20,750,300
1,30000007,02,66.0,03,02,02,01,02,01,-1,...,02,197.075742,T,50,1500,750,750,20,750,300
2,30000007,03,28.0,02,02,03,02,02,05,02,...,02,219.514210,T,50,1500,750,750,20,750,300
3,30000008,01,55.0,05,02,01,01,01,01,-1,...,02,63.185911,R,05,300,300,150,05,300,300
4,30000008,02,49.0,04,02,02,02,01,01,-1,...,02,58.665911,R,05,300,300,150,05,300,300

In [5]:
#Looks at dimension
data_person.shape

(264234, 121)

In [6]:
#Look at data info
data_person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264234 entries, 0 to 264233
Columns: 121 entries, HOUSEID to HBRESDN
dtypes: float64(31), object(90)
memory usage: 243.9+ MB

In [7]:
#select appropriate variables

person_var = ["HOUSEID","PERSONID","CARSHARE","DRVRCNT","EDUC","GT1JBLWK","OCCAT","R_AGE","R_HISP","R_RACE","R_SEX","TIMETOWK","WKFTPT","WKRMHM","YEARMILE"]

In [8]:
data_person = data_person[person_var]

In [9]:
#Select string variables
data_person_obj = data_person.select_dtypes(['object'])
data_person_obj.head()

    HOUSEID PERSONID EDUC GT1JBLWK OCCAT R_HISP R_RACE R_SEX WKFTPT WKRMHM
0  30000007       01   03       -1    -1     02     02    02     -1     -1
1  30000007       02   03       02    02     02     02    01     01     02
2  30000007       03   02       -1    -1     02     02    02     -1     -1
3  30000008       01   05       02    04     02     01    01     01     02
4  30000008       02   04       02    02     02     01    02     01     02

In [10]:
#Remove trailing or leading spaces
data_person[data_person_obj.columns] = data_person_obj.apply(lambda x: x.str.strip())

In [11]:
#Look at dimension
data_person.shape

(264234, 15)

In [12]:

#Look at data info
data_person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264234 entries, 0 to 264233
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   HOUSEID   264234 non-null  object
 1   PERSONID  264234 non-null  object
 2   CARSHARE  264234 non-null  float64
 3   DRVRCNT   264234 non-null  float64
 4   EDUC      264234 non-null  object
 5   GT1JBLWK  264234 non-null  object
 6   OCCAT     264234 non-null  object
 7   R_AGE     264234 non-null  float64
 8   R_HISP    264234 non-null  object
 9   R_RACE    264234 non-null  object
 10  R_SEX     264234 non-null  object
 11  TIMETOWK  264234 non-null  float64
 12  WKFTPT    264234 non-null  object
 13  WKRMHM    264234 non-null  object
 14  YEARMILE  264234 non-null  float64
dtypes: float64(5), object(10)
memory usage: 30.2+ MB

## Household data

In [13]:
%%time
#import household data
data_hh = pd.read_sas(os.path.expanduser(os.path.join(BASE_DIR, HOUSEHOLD)),
                          format = 'sas7bdat', encoding="ISO-8859-1")

CPU times: user 23.5 s, sys: 2.03 s, total: 25.6 s
Wall time: 27.3 s

In [14]:

#Look at first few rows
data_hh.head()

,HOUSEID,TRAVDAY,SAMPSTRAT,HOMEOWN,HHSIZE,HHVEHCNT,HHFAMINC,PC,SPHONE,TAB,...,SMPLSRCE,WTHHFIN,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN
0,30000007,02,03,01,3.0,5.0,07,02,01,02,...,02,187.314320,T,50,1500,750,750,20,750,300
1,30000008,05,02,01,2.0,4.0,08,01,01,02,...,02,69.513032,R,05,300,300,150,05,300,300
2,30000012,05,03,01,1.0,2.0,10,01,01,03,...,02,79.419586,C,80,17000,17000,5000,60,17000,7000
3,30000019,05,03,01,2.0,2.0,03,01,05,05,...,02,279.143588,S,40,300,300,150,50,750,300
4,30000029,03,03,01,2.0,2.0,05,02,05,01,...,02,103.240304,S,40,1500,750,750,40,1500,750

In [15]:
#Look at dimension
data_hh.shape

(129696, 58)

In [16]:
#Look at data info
data_hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129696 entries, 0 to 129695
Data columns (total 58 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   HOUSEID     129696 non-null  object
 1   TRAVDAY     129696 non-null  object
 2   SAMPSTRAT   129696 non-null  object
 3   HOMEOWN     129696 non-null  object
 4   HHSIZE      129696 non-null  float64
 5   HHVEHCNT    129696 non-null  float64
 6   HHFAMINC    129696 non-null  object
 7   PC          129696 non-null  object
 8   SPHONE      129696 non-null  object
 9   TAB         129696 non-null  object
 10  WALK        129696 non-null  object
 11  BIKE        129696 non-null  object
 12  CAR         129696 non-null  object
 13  TAXI        129696 non-null  object
 14  BUS         129696 non-null  object
 15  TRAIN       129696 non-null  object
 16  PARA        129696 non-null  object
 17  PRICE       129696 non-null  object
 18  PLACE       129696 non-null  object
 19  WALK2SAVE   129696 non-null  object
 20  BIKE2SAVE   129696 non-null  object
 21  PTRANS      129696 non-null  object
 22  HHRELATD    129696 non-null  object
 23  DRVRCNT     129696 non-null  float64
 24  CNTTDHH     129696 non-null  float64
 25  HHSTATE     129696 non-null  object
 26  HHSTFIPS    129696 non-null  object
 27  NUMADLT     129696 non-null  float64
 28  YOUNGCHILD  129696 non-null  float64
 29  WRKCOUNT    129696 non-null  float64
 30  TDAYDATE    129696 non-null  object
 31  HHRESP      129696 non-null  object
 32  LIF_CYC     129696 non-null  object
 33  MSACAT      129696 non-null  object
 34  MSASIZE     129696 non-null  object
 35  RAIL        129696 non-null  object
 36  URBAN       129696 non-null  object
 37  URBANSIZE   129696 non-null  object
 38  URBRUR      129696 non-null  object
 39  SCRESP      129696 non-null  object
 40  CENSUS_D    129696 non-null  object
 41  CENSUS_R    129696 non-null  object
 42  CDIVMSAR    129696 non-null  object
 43  HH_RACE     129696 non-null  object
 44  HH_HISP     129696 non-null  object
 45  HH_CBSA     129696 non-null  object
 46  RESP_CNT    129696 non-null  float64
 47  WEBUSE17    129696 non-null  object
 48  SMPLSRCE    129696 non-null  object
 49  WTHHFIN     129696 non-null  float64
 50  HBHUR       129696 non-null  object
 51  HTHTNRNT    129696 non-null  object
 52  HTPPOPDN    129696 non-null  object
 53  HTRESDN     129696 non-null  object
 54  HTEEMPDN    129696 non-null  object
 55  HBHTNRNT    129696 non-null  object
 56  HBPPOPDN    129696 non-null  object
 57  HBRESDN     129696 non-null  object
dtypes: float64(9), object(49)
memory usage: 57.4+ MB

In [17]:
hh_var = ["HOUSEID","CAR","HBHUR","HBPPOPDN","HBRESDN","HHFAMINC","HHSIZE","HHSTATE","HHVEHCNT","HOMEOWN","PLACE","PRICE","WRKCOUNT","YOUNGCHILD"]

In [18]:
data_hh = data_hh[hh_var]

In [19]:
#Select string variables
data_hh_obj = data_hh.select_dtypes(['object'])
data_hh_obj.head()

    HOUSEID CAR HBHUR HBPPOPDN HBRESDN HHFAMINC HHSTATE HOMEOWN PLACE PRICE
0  30000007  01     T      750     300       07      NC      01    02    01
1  30000008  01     R      300     300       08      WI      01    02    05
2  30000012  01     C    17000    7000       10      NY      01    01    02
3  30000019  01     S      750     300       03      MD      01    03    02
4  30000029  01     S     1500     750       05      WI      01    02    03

In [20]:
#Remove trailing or leading spaces
data_hh[data_hh_obj.columns] = data_hh_obj.apply(lambda x: x.str.strip())

In [21]:
#Look at dimension
data_hh.shape

(129696, 14)

In [22]:
#Look at data info
data_hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129696 entries, 0 to 129695
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   HOUSEID     129696 non-null  object
 1   CAR         129696 non-null  object
 2   HBHUR       129696 non-null  object
 3   HBPPOPDN    129696 non-null  object
 4   HBRESDN     129696 non-null  object
 5   HHFAMINC    129696 non-null  object
 6   HHSIZE      129696 non-null  float64
 7   HHSTATE     129696 non-null  object
 8   HHVEHCNT    129696 non-null  float64
 9   HOMEOWN     129696 non-null  object
 10  PLACE       129696 non-null  object
 11  PRICE       129696 non-null  object
 12  WRKCOUNT    129696 non-null  float64
 13  YOUNGCHILD  129696 non-null  float64
dtypes: float64(4), object(10)
memory usage: 13.9+ MB

## Vehicle data

In [23]:
%%time
#import vehicle data
data_veh = pd.read_sas(os.path.expanduser(os.path.join(BASE_DIR, VEHICLE)),
                          format = 'sas7bdat', encoding="ISO-8859-1")

CPU times: user 39.5 s, sys: 3.36 s, total: 42.8 s
Wall time: 45 s

In [24]:
#Look at first few rows
data_veh.head()

,HOUSEID,VEHID,VEHYEAR,VEHAGE,MAKE,MODEL,FUELTYPE,VEHTYPE,WHOMAIN,OD_READ,...,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,GSYRGAL,GSTOTCST,FEGEMPG,FEGEMPGA,GSCOST,FEGEMPGF
0,30000007,01,2007.0,10.0,49,49032,01,01,03,69000.0,...,750,20,750,300,487.064221,1126.457778,30.0,-9.0,2.31275,01
1,30000007,02,2004.0,13.0,49,49442,01,02,-8,164000.0,...,750,20,750,300,250.899523,580.267873,19.0,-9.0,2.31275,01
2,30000007,03,1998.0,19.0,19,19014,01,01,01,120000.0,...,750,20,750,300,444.462475,1027.930589,18.0,-9.0,2.31275,01
3,30000007,04,1997.0,20.0,19,19021,01,01,02,-88.0,...,750,20,750,300,40.329575,93.272224,18.0,-9.0,2.31275,01
4,30000007,05,1993.0,24.0,20,20481,01,04,02,300000.0,...,750,20,750,300,888.404197,2054.656806,14.0,-9.0,2.31275,01

In [25]:
#Look at dimension
data_veh.shape

(256115, 60)

In [26]:

#Look at data info
data_veh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256115 entries, 0 to 256114
Data columns (total 60 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   HOUSEID    256115 non-null  object
 1   VEHID      256115 non-null  object
 2   VEHYEAR    256115 non-null  float64
 3   VEHAGE     256115 non-null  float64
 4   MAKE       256115 non-null  object
 5   MODEL      256115 non-null  object
 6   FUELTYPE   256115 non-null  object
 7   VEHTYPE    256115 non-null  object
 8   WHOMAIN    256115 non-null  object
 9   OD_READ    256115 non-null  float64
 10  HFUEL      256115 non-null  object
 11  VEHOWNED   256115 non-null  object
 12  VEHOWNMO   256115 non-null  object
 13  ANNMILES   256115 non-null  float64
 14  HYBRID     256115 non-null  object
 15  PERSONID   256115 non-null  object
 16  TRAVDAY    256115 non-null  object
 17  HOMEOWN    256115 non-null  object
 18  HHSIZE     256115 non-null  float64
 19  HHVEHCNT   256115 non-null  float64
 20  HHFAMINC   256115 non-null  object
 21  DRVRCNT    256115 non-null  float64
 22  HHSTATE    256115 non-null  object
 23  HHSTFIPS   256115 non-null  object
 24  NUMADLT    256115 non-null  float64
 25  WRKCOUNT   256115 non-null  float64
 26  TDAYDATE   256115 non-null  object
 27  LIF_CYC    256115 non-null  object
 28  MSACAT     256115 non-null  object
 29  MSASIZE    256115 non-null  object
 30  RAIL       256115 non-null  object
 31  URBAN      256115 non-null  object
 32  URBANSIZE  256115 non-null  object
 33  URBRUR     256115 non-null  object
 34  CENSUS_D   256115 non-null  object
 35  CENSUS_R   256115 non-null  object
 36  CDIVMSAR   256115 non-null  object
 37  HH_RACE    256115 non-null  object
 38  HH_HISP    256115 non-null  object
 39  HH_CBSA    256115 non-null  object
 40  SMPLSRCE   256115 non-null  object
 41  WTHHFIN    256115 non-null  float64
 42  BESTMILE   256115 non-null  float64
 43  BEST_FLG   256115 non-null  object
 44  BEST_EDT   256115 non-null  object
 45  BEST_OUT   256115 non-null  object
 46  HBHUR      256115 non-null  object
 47  HTHTNRNT   256115 non-null  object
 48  HTPPOPDN   256115 non-null  object
 49  HTRESDN    256115 non-null  object
 50  HTEEMPDN   256115 non-null  object
 51  HBHTNRNT   256115 non-null  object
 52  HBPPOPDN   256115 non-null  object
 53  HBRESDN    256115 non-null  object
 54  GSYRGAL    256115 non-null  float64
 55  GSTOTCST   256115 non-null  float64
 56  FEGEMPG    256115 non-null  float64
 57  FEGEMPGA   256115 non-null  float64
 58  GSCOST     256115 non-null  float64
 59  FEGEMPGF   256115 non-null  object
dtypes: float64(16), object(44)
memory usage: 117.2+ MB

In [27]:
veh_var = ["HOUSEID", "PERSONID", "VEHID", "HFUEL","FUELTYPE","VEHAGE", "VEHOWNED", "VEHOWNMO"]

In [28]:
data_veh = data_veh[veh_var]

In [29]:
#Select string variables
data_veh_obj = data_veh.select_dtypes(['object'])
data_veh_obj.head()

    HOUSEID PERSONID VEHID HFUEL FUELTYPE VEHOWNED VEHOWNMO
0  30000007       03    01    -1       01       01       -1
1  30000007       -8    02    -1       01       01       -1
2  30000007       01    03    -1       01       01       -1
3  30000007       02    04    -1       01       01       -1
4  30000007       02    05    -1       01       01       -1

In [30]:
#Remove trailing or leading spaces
data_veh[data_veh_obj.columns] = data_veh_obj.apply(lambda x: x.str.strip())

In [31]:
#Look at dimension
data_veh.shape

(256115, 8)

In [32]:
#Look at data info
data_veh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256115 entries, 0 to 256114
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   HOUSEID   256115 non-null  object
 1   PERSONID  256115 non-null  object
 2   VEHID     256115 non-null  object
 3   HFUEL     256115 non-null  object
 4   FUELTYPE  256115 non-null  object
 5   VEHAGE    256115 non-null  float64
 6   VEHOWNED  256115 non-null  object
 7   VEHOWNMO  256115 non-null  object
dtypes: float64(1), object(7)
memory usage: 15.6+ MB

## Merge Datasets

Based on the User Guide documentation provided, many of the variables are repeated across multiple table file levels.

### Household-vehicle merge

In [33]:
#merge person and vehicle data
data_hh_veh = pd.merge(data_hh,data_veh,on=['HOUSEID'])

In [34]:
#look at first 5 rows
data_hh_veh.head()

,HOUSEID,CAR,HBHUR,HBPPOPDN,HBRESDN,HHFAMINC,HHSIZE,HHSTATE,HHVEHCNT,HOMEOWN,...,PRICE,WRKCOUNT,YOUNGCHILD,PERSONID,VEHID,HFUEL,FUELTYPE,VEHAGE,VEHOWNED,VEHOWNMO
0,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,01,1.0,0.0,03,01,-1,01,10.0,01,-1
1,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,01,1.0,0.0,-8,02,-1,01,13.0,01,-1
2,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,01,1.0,0.0,01,03,-1,01,19.0,01,-1
3,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,01,1.0,0.0,02,04,-1,01,20.0,01,-1
4,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,01,1.0,0.0,02,05,-1,01,24.0,01,-1

## Dimension of data
data_hh_veh.shape

### Household-vehicle-person merge

In [35]:


#merge household and vehicle data to person data
data_hh_veh_person = pd.merge(data_hh_veh,data_person,on=['HOUSEID','PERSONID'])

In [36]:
#look at first 5 rows
data_hh_veh_person.head()

,HOUSEID,CAR,HBHUR,HBPPOPDN,HBRESDN,HHFAMINC,HHSIZE,HHSTATE,HHVEHCNT,HOMEOWN,...,GT1JBLWK,OCCAT,R_AGE,R_HISP,R_RACE,R_SEX,TIMETOWK,WKFTPT,WKRMHM,YEARMILE
0,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,-1,-1,28.0,02,02,02,-1.0,-1,-1,1000.0
1,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,-1,-1,67.0,02,02,02,-1.0,-1,-1,1000.0
2,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,02,02,66.0,02,02,01,120.0,01,02,10000.0
3,30000007,01,T,750,300,07,3.0,NC,5.0,01,...,02,02,66.0,02,02,01,120.0,01,02,10000.0
4,30000008,01,R,300,300,08,2.0,WI,4.0,01,...,02,02,49.0,02,01,02,5.0,01,02,10000.0

In [37]:
#Dimension of data
data_hh_veh_person.shape

(250200, 34)

In [38]:
data_temp = data_hh_veh_person

### Reorder variables

In [39]:
#reorder variables
first_cols = ['HOUSEID','PERSONID','VEHID']
last_cols = [col for col in data_temp.columns if col not in first_cols]
len(last_cols)

31

In [40]:
#reorder variables
data = data_temp[first_cols+last_cols]

In [41]:

#Get first few rows
data.head()

,HOUSEID,PERSONID,VEHID,CAR,HBHUR,HBPPOPDN,HBRESDN,HHFAMINC,HHSIZE,HHSTATE,...,GT1JBLWK,OCCAT,R_AGE,R_HISP,R_RACE,R_SEX,TIMETOWK,WKFTPT,WKRMHM,YEARMILE
0,30000007,03,01,01,T,750,300,07,3.0,NC,...,-1,-1,28.0,02,02,02,-1.0,-1,-1,1000.0
1,30000007,01,03,01,T,750,300,07,3.0,NC,...,-1,-1,67.0,02,02,02,-1.0,-1,-1,1000.0
2,30000007,02,04,01,T,750,300,07,3.0,NC,...,02,02,66.0,02,02,01,120.0,01,02,10000.0
3,30000007,02,05,01,T,750,300,07,3.0,NC,...,02,02,66.0,02,02,01,120.0,01,02,10000.0
4,30000008,02,02,01,R,300,300,08,2.0,WI,...,02,02,49.0,02,01,02,5.0,01,02,10000.0

In [42]:
#Dimension of data
data.shape

(250200, 34)

In [43]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250200 entries, 0 to 250199
Data columns (total 34 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   HOUSEID     250200 non-null  object
 1   PERSONID    250200 non-null  object
 2   VEHID       250200 non-null  object
 3   CAR         250200 non-null  object
 4   HBHUR       250200 non-null  object
 5   HBPPOPDN    250200 non-null  object
 6   HBRESDN     250200 non-null  object
 7   HHFAMINC    250200 non-null  object
 8   HHSIZE      250200 non-null  float64
 9   HHSTATE     250200 non-null  object
 10  HHVEHCNT    250200 non-null  float64
 11  HOMEOWN     250200 non-null  object
 12  PLACE       250200 non-null  object
 13  PRICE       250200 non-null  object
 14  WRKCOUNT    250200 non-null  float64
 15  YOUNGCHILD  250200 non-null  float64
 16  HFUEL       250200 non-null  object
 17  FUELTYPE    250200 non-null  object
 18  VEHAGE      250200 non-null  float64
 19  VEHOWNED    250200 non-null  object
 20  VEHOWNMO    250200 non-null  object
 21  CARSHARE    250200 non-null  float64
 22  DRVRCNT     250200 non-null  float64
 23  EDUC        250200 non-null  object
 24  GT1JBLWK    250200 non-null  object
 25  OCCAT       250200 non-null  object
 26  R_AGE       250200 non-null  float64
 27  R_HISP      250200 non-null  object
 28  R_RACE      250200 non-null  object
 29  R_SEX       250200 non-null  object
 30  TIMETOWK    250200 non-null  float64
 31  WKFTPT      250200 non-null  object
 32  WKRMHM      250200 non-null  object
 33  YEARMILE    250200 non-null  float64
dtypes: float64(10), object(24)
memory usage: 66.8+ MB

In [44]:
#Get all variable names
data1_var = data.columns.to_list()

# Duplicates and NAs

In [45]:
#Any duplicate rows?
data = data.drop_duplicates()
#Dimension
data.shape

(250200, 34)

There are no duplicates rows

In [46]:
#Check for NAs
data.isna().sum(axis=0)

HOUSEID       0
PERSONID      0
VEHID         0
CAR           0
HBHUR         0
HBPPOPDN      0
HBRESDN       0
HHFAMINC      0
HHSIZE        0
HHSTATE       0
HHVEHCNT      0
HOMEOWN       0
PLACE         0
PRICE         0
WRKCOUNT      0
YOUNGCHILD    0
HFUEL         0
FUELTYPE      0
VEHAGE        0
VEHOWNED      0
VEHOWNMO      0
CARSHARE      0
DRVRCNT       0
EDUC          0
GT1JBLWK      0
OCCAT         0
R_AGE         0
R_HISP        0
R_RACE        0
R_SEX         0
TIMETOWK      0
WKFTPT        0
WKRMHM        0
YEARMILE      0
dtype: int64

There are no NAs in the dataset. The documentation for the dataset mentioned that there shouldn't be any as well.

There are a few values that should be reviewed further.

1. -7 : Refused
2. -8 : Don't Know
3. -9 : Not Ascertained
4. -1 : Appropriate Skip

Let's check if any variable consists of all of these values.

In [47]:
data_check_val = data.isin([-1.0,-7.0,-8.0,-9.0,"-1","-7","-8","-9"]).all()

In [48]:
data_check_val[data_check_val==True]

Series([], dtype: bool)

None of the variables consist of only these values.

# Import Codebook and Apply Values Labels

In [49]:
#import excel version of codebook
CODEBOOK = "Documentation/codebook_v1.2.xlsx"

codebookname = pd.ExcelFile(os.path.expanduser(os.path.join(BASE_DIR, CODEBOOK)))

print(codebookname.sheet_names)

['CODEBOOK_HH', 'CODEBOOK_PER', 'CODEBOOK_VEH', 'CODEBOOK_TRIP']

In [50]:
# is this the same as the above?
codebook = pd.read_excel(os.path.expanduser(os.path.join(BASE_DIR, CODEBOOK)))

for items in codebookname.sheet_names[1:]:
    codebook_new = pd.read_excel(os.path.expanduser(os.path.join(BASE_DIR, CODEBOOK)),
                                 sheet_name=items)
    codebook=pd.concat([codebook,codebook_new])

In [51]:
#Look at first few rows
codebook.head()

,Name,Label,Type,Length,Code / Range,Frequency,Weighted
0,BIKE,Frequency of Bicycle Use for Travel,C,2.0,-9=Not ascertained,14661,1.378796e+07
1,NaN,NaN,NaN,NaN,-8=I don't know,10,1.090766e+04
2,NaN,NaN,NaN,NaN,-7=I prefer not to answer,5,3.267190e+04
3,NaN,NaN,NaN,NaN,01=Daily,1870,1.979683e+06
4,NaN,NaN,NaN,NaN,02=A few times a week,5363,4.961863e+06

In [52]:
#Dimension of data
codebook.shape

(3858, 7)

Some of the cells were empty so using forward fill to fill it up.

In [53]:
#forward fill
codebook = codebook.fillna(method='ffill')

In [54]:
#Get first few rows
codebook.head()

,Name,Label,Type,Length,Code / Range,Frequency,Weighted
0,BIKE,Frequency of Bicycle Use for Travel,C,2.0,-9=Not ascertained,14661,1.378796e+07
1,BIKE,Frequency of Bicycle Use for Travel,C,2.0,-8=I don't know,10,1.090766e+04
2,BIKE,Frequency of Bicycle Use for Travel,C,2.0,-7=I prefer not to answer,5,3.267190e+04
3,BIKE,Frequency of Bicycle Use for Travel,C,2.0,01=Daily,1870,1.979683e+06
4,BIKE,Frequency of Bicycle Use for Travel,C,2.0,02=A few times a week,5363,4.961863e+06

In [55]:
#Limit to appropriare variables
codebook = codebook[codebook['Name'].isin(data1_var)]

In [56]:
#Get all rows for character variables
codebook_c = codebook[codebook.Type=='C'].reset_index(drop=True)
codebook_c.head()

,Name,Label,Type,Length,Code / Range,Frequency,Weighted
0,CAR,Frequency of Personal Vehicle Use for Travel,C,2.0,-8=I don't know,4,1.886741e+04
1,CAR,Frequency of Personal Vehicle Use for Travel,C,2.0,-7=I prefer not to answer,2,1.348837e+04
2,CAR,Frequency of Personal Vehicle Use for Travel,C,2.0,-1=Appropriate skip,2573,3.460057e+06
3,CAR,Frequency of Personal Vehicle Use for Travel,C,2.0,01=Daily,100628,8.971236e+07
4,CAR,Frequency of Personal Vehicle Use for Travel,C,2.0,02=A few times a week,19486,1.508140e+07

In [57]:
#reshape codebook
codebook_reshape_c = codebook_c.groupby(['Name','Type'])['Code / Range'].agg('='.join).reset_index()

In [58]:
#get dimension
codebook_reshape_c.shape

(24, 3)

In [59]:
#Get first few rows
codebook_reshape_c.head()

       Name Type                                       Code / Range
0       CAR    C  -8=I don't know=-7=I prefer not to answer=-1=A...
1      EDUC    C  -8=I don't know=-7=I prefer not to answer=-1=A...
2  FUELTYPE    C  -8=I don't know=-7=I prefer not to answer=01=G...
3  GT1JBLWK    C  -9=Not ascertained=-8=I don't know=-7=I prefer...
4     HBHUR    C  C=Second City=R=Rural=S=Suburban=T=Small Town=...

In [60]:
#Get last few rows
codebook_reshape_c.tail()

        Name Type                                       Code / Range
19     VEHID    C  01=02=03=04=05=06=07=08=09=10=11=12=-9=Not asc...
20  VEHOWNED    C  -9=Not ascertained=-8=I don't know=-7=I prefer...
21  VEHOWNMO    C  -9=Not ascertained=-8=I don't know=-7=I prefer...
22    WKFTPT    C  -8=I don't know=-7=I prefer not to answer=-1=A...
23    WKRMHM    C  -9=Not ascertained=-8=I don't know=-7=I prefer...

In [61]:
#Split with equal
codebook_reshape_c['New'] = codebook_reshape_c['Code / Range'].str.split('=')

In [62]:
#get first few rows
codebook_reshape_c.head()

,Name,Type,Code / Range,New
0,CAR,C,-8=I don't know=-7=I prefer not to answer=-1=A...,"[-8, I don't know, -7, I prefer not to answer,..."
1,EDUC,C,-8=I don't know=-7=I prefer not to answer=-1=A...,"[-8, I don't know, -7, I prefer not to answer,..."
2,FUELTYPE,C,-8=I don't know=-7=I prefer not to answer=01=G...,"[-8, I don't know, -7, I prefer not to answer,..."
3,GT1JBLWK,C,-9=Not ascertained=-8=I don't know=-7=I prefer...,"[-9, Not ascertained, -8, I don't know, -7, I ..."
4,HBHUR,C,C=Second City=R=Rural=S=Suburban=T=Small Town=...,"[C, Second City, R, Rural, S, Suburban, T, Sma..."

In [63]:
#Get dimension of data
codebook_reshape_c.shape

(24, 4)

In [64]:
#Create new column
codebook_reshape_c['New_m'] = codebook_reshape_c['New'].apply(lambda x: dict(zip(x[::2], x[1::2])))
codebook_reshape_c.head()

,Name,Type,Code / Range,New,New_m
0,CAR,C,-8=I don't know=-7=I prefer not to answer=-1=A...,"[-8, I don't know, -7, I prefer not to answer,...","{'-8': 'I don't know', '-7': 'I prefer not to ..."
1,EDUC,C,-8=I don't know=-7=I prefer not to answer=-1=A...,"[-8, I don't know, -7, I prefer not to answer,...","{'-8': 'I don't know', '-7': 'I prefer not to ..."
2,FUELTYPE,C,-8=I don't know=-7=I prefer not to answer=01=G...,"[-8, I don't know, -7, I prefer not to answer,...","{'-8': 'I don't know', '-7': 'I prefer not to ..."
3,GT1JBLWK,C,-9=Not ascertained=-8=I don't know=-7=I prefer...,"[-9, Not ascertained, -8, I don't know, -7, I ...","{'-9': 'Not ascertained', '-8': 'I don't know'..."
4,HBHUR,C,C=Second City=R=Rural=S=Suburban=T=Small Town=...,"[C, Second City, R, Rural, S, Suburban, T, Sma...","{'C': 'Second City', 'R': 'Rural', 'S': 'Subur..."

In [65]:
codebook_reshape_c.shape

(24, 5)

In [66]:
#export file

codebook_reshape_c.to_csv("codebook_reshape.csv")

In [67]:
#create a dict variables to loop
val_label = dict(zip(codebook_reshape_c.Name,codebook_reshape_c.New_m))

In [172]:
val_label

{'CAR': {'-8': "I don't know",
  '-7': 'I prefer not to answer',
  '-1': 'Appropriate skip',
  '01': 'Daily',
  '02': 'A few times a week',
  '03': 'A few times a month',
  '04': 'A few times a year',
  '05': 'Never'},
 'EDUC': {'-8': "I don't know",
  '-7': 'I prefer not to answer',
  '-1': 'Appropriate skip',
  '01': 'Less than a high school graduate',
  '02': 'High school graduate or GED',
  '03': 'Some college or associates degree',
  '04': "Bachelor's degree",
  '05': 'Graduate degree or professional degree'},
 'FUELTYPE': {'-8': "I don't know",
  '-7': 'I prefer not to answer',
  '01': 'Gas',
  '02': 'Diesel',
  '03': 'Hybrid, electric or alternative fuel',
  '97': 'Some other fuel'},
 'GT1JBLWK': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-7': 'I prefer not to answer',
  '-1': 'Appropriate skip',
  '01': 'Yes',
  '02': 'No'},
 'HBHUR': {'C': 'Second City',
  'R': 'Rural',
  'S': 'Suburban',
  'T': 'Small Town',
  'U': 'Urban',
  '-9': 'Not ascertained'},
 'HBPPOPDN': {'-9': 'Not ascertained',
  '50': '0-99',
  '300': '100-499',
  '750': '500-999',
  '1500': '1,000-1,999',
  '3000': '2,000-3,999',
  '7000': '4,000-9,999',
  '17000': '10,000-24,999',
  '30000': '25,000-999,999'},
 'HBRESDN': {'-9': 'Not ascertained',
  '50': '0-99',
  '300': '100-499',
  '750': '500-999',
  '1500': '1,000-1,999',
  '3000': '2,000-3,999',
  '7000': '4,000-9,999',
  '17000': '10,000-24,999',
  '30000': '25,000-999,999'},
 'HFUEL': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-1': 'Appropriate skip',
  '01': 'Biodiesel',
  '02': 'Plug-in Hybrid (gas/electric e.g., Chevy Volt)',
  '03': 'Electric (e.g. Nissan Leaf)',
  '04': 'Hybrid (gas/electric, not plug-in e.g., Toyota Prius)',
  '97': 'Some other fuel'},
 'HHFAMINC': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-7': 'I prefer not to answer',
  '01': 'Less than $10,000',
  '02': '$10,000 to $14,999',
  '03': '$15,000 to $24,999',
  '04': '$25,000 to $34,999',
  '05': '$35,000 to $49,999',
  '06': '$50,000 to $74,999',
  '07': '$75,000 to $99,999',
  '08': '$100,000 to $124,999',
  '09': '$125,000 to $149,999',
  '10': '$150,000 to $199,999',
  '11': '$200,000 or more'},
 'HHSTATE': {'AK': 'AL',
  'AR': 'AZ',
  'CA': 'CO',
  'CT': 'DC',
  'DE': 'FL',
  'GA': 'HI',
  'IA': 'ID',
  'IL': 'IN',
  'KS': 'KY',
  'LA': 'MA',
  'MD': 'ME',
  'MI': 'MN',
  'MO': 'MS',
  'MT': 'NC',
  'ND': 'NE',
  'NH': 'NJ',
  'NM': 'NV',
  'NY': 'OH',
  'OK': 'OR',
  'PA': 'RI',
  'SC': 'SD',
  'TN': 'TX',
  'UT': 'VA',
  'VT': 'WA',
  'WI': 'WV',
  'WY': 'AK',
  'AL': 'AR',
  'AZ': 'CA',
  'CO': 'CT',
  'DC': 'DE',
  'FL': 'GA',
  'HI': 'IA',
  'ID': 'IL',
  'IN': 'KS',
  'KY': 'LA',
  'MA': 'MD',
  'ME': 'MI',
  'MN': 'MO',
  'MS': 'MT',
  'NC': 'ND',
  'NE': 'NH',
  'NJ': 'NM',
  'NV': 'NY',
  'OH': 'OK',
  'OR': 'PA',
  'RI': 'SC',
  'SD': 'TN',
  'TX': 'UT',
  'VA': 'VT',
  'WA': 'WI',
  'WV': 'WY'},
 'HOMEOWN': {'-8': "I don't know",
  '-7': 'I prefer not to answer',
  '01': 'Own',
  '02': 'Rent',
  '97': 'Some other arrangement'},
 'HOUSEID': {'Responses': '30000007-50515573'},
 'OCCAT': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-7': 'I prefer not to answer',
  '-1': 'Appropriate skip',
  '01': 'Sales or service',
  '02': 'Clerical or administrative support',
  '03': 'Manufacturing, construction, maintenance, or farming',
  '04': 'Professional, managerial, or technical',
  '97': 'Something else'},
 'PERSONID': {'01': '02',
  '03': '04',
  '05': '06',
  '07': '08',
  '09': '10',
  '11': '12',
  '13': '-8',
  "I don't know": '-7',
  'I prefer not to answer': '01',
  '02': '03',
  '04': '05',
  '06': '07',
  '08': '09',
  '10': '97'},
 'PLACE': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-7': 'I prefer not to answer',
  '01': 'Strongly agree',
  '02': 'Agree',
  '03': 'Neither Agree or Disagree',
  '04': 'Disagree',
  '05': 'Strongly disagree'},
 'PRICE': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-7': 'I prefer not to answer',
  '01': 'Strongly agree',
  '02': 'Agree',
  '03': 'Neither Agree or Disagree',
  '04': 'Disagree',
  '05': 'Strongly disagree'},
 'R_HISP': {'-8': "I don't know",
  '-7': 'I prefer not to answer',
  '01': 'Yes, Hispanic or Latino',
  '02': 'No, Not Hispanic or Latino'},
 'R_RACE': {'-8': "Don't know",
  '-7': 'Refused',
  '01': 'White',
  '02': 'Black or African American',
  '03': 'Asian',
  '04': 'American Indian or Alaska Native',
  '05': 'Native Hawaiian or other Pacific Islander',
  '06': 'Multiple responses selected',
  '97': 'Some other race'},
 'R_SEX': {'-8': "I don't know",
  '-7': 'I prefer not to answer',
  '01': 'Male',
  '02': 'Female'},
 'VEHID': {'01': '02',
  '03': '04',
  '05': '06',
  '07': '08',
  '09': '10',
  '11': '12',
  '-9': 'Not ascertained',
  '-1': 'Appropriate skip',
  '12': '97'},
 'VEHOWNED': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-7': 'I prefer not to answer',
  '01': 'Yes',
  '02': 'No'},
 'VEHOWNMO': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-7': 'I prefer not to answer',
  '-1': 'Appropriate skip',
  '0': '01',
  '02': '03',
  '04': '05',
  '06': '07',
  '08': '09',
  '10': '11'},
 'WKFTPT': {'-8': "I don't know",
  '-7': 'I prefer not to answer',
  '-1': 'Appropriate skip',
  '01': 'Full-time',
  '02': 'Part-time'},
 'WKRMHM': {'-9': 'Not ascertained',
  '-8': "I don't know",
  '-7': 'I prefer not to answer',
  '-1': 'Appropriate skip',
  '01': 'Yes',
  '02': 'No'}}

In [68]:
#add labels and make variables string
for key, val in val_label.items():
    data[key + "_label"] = data[key].replace(val)

In [69]:
data.drop(columns = ['HOUSEID_label', 'VEHID_label','PERSONID_label'], inplace=True)

In [70]:
#review first few rows
data.head()

,HOUSEID,PERSONID,VEHID,CAR,HBHUR,HBPPOPDN,HBRESDN,HHFAMINC,HHSIZE,HHSTATE,...,OCCAT_label,PLACE_label,PRICE_label,R_HISP_label,R_RACE_label,R_SEX_label,VEHOWNED_label,VEHOWNMO_label,WKFTPT_label,WKRMHM_label
0,30000007,03,01,01,T,750,300,07,3.0,NC,...,Appropriate skip,Agree,Strongly agree,"No, Not Hispanic or Latino",Black or African American,Female,Yes,Appropriate skip,Appropriate skip,Appropriate skip
1,30000007,01,03,01,T,750,300,07,3.0,NC,...,Appropriate skip,Agree,Strongly agree,"No, Not Hispanic or Latino",Black or African American,Female,Yes,Appropriate skip,Appropriate skip,Appropriate skip
2,30000007,02,04,01,T,750,300,07,3.0,NC,...,Clerical or administrative support,Agree,Strongly agree,"No, Not Hispanic or Latino",Black or African American,Male,Yes,Appropriate skip,Full-time,No
3,30000007,02,05,01,T,750,300,07,3.0,NC,...,Clerical or administrative support,Agree,Strongly agree,"No, Not Hispanic or Latino",Black or African American,Male,Yes,Appropriate skip,Full-time,No
4,30000008,02,02,01,R,300,300,08,2.0,WI,...,Clerical or administrative support,Agree,Strongly disagree,"No, Not Hispanic or Latino",White,Female,Yes,Appropriate skip,Full-time,No

In [71]:
#get dimension
data.shape

(250200, 55)

In [72]:
data = data.reindex(sorted(data.columns), axis=1)

In [73]:
sorted(data.columns)

['CAR',
 'CARSHARE',
 'CAR_label',
 'DRVRCNT',
 'EDUC',
 'EDUC_label',
 'FUELTYPE',
 'FUELTYPE_label',
 'GT1JBLWK',
 'GT1JBLWK_label',
 'HBHUR',
 'HBHUR_label',
 'HBPPOPDN',
 'HBPPOPDN_label',
 'HBRESDN',
 'HBRESDN_label',
 'HFUEL',
 'HFUEL_label',
 'HHFAMINC',
 'HHFAMINC_label',
 'HHSIZE',
 'HHSTATE',
 'HHSTATE_label',
 'HHVEHCNT',
 'HOMEOWN',
 'HOMEOWN_label',
 'HOUSEID',
 'OCCAT',
 'OCCAT_label',
 'PERSONID',
 'PLACE',
 'PLACE_label',
 'PRICE',
 'PRICE_label',
 'R_AGE',
 'R_HISP',
 'R_HISP_label',
 'R_RACE',
 'R_RACE_label',
 'R_SEX',
 'R_SEX_label',
 'TIMETOWK',
 'VEHAGE',
 'VEHID',
 'VEHOWNED',
 'VEHOWNED_label',
 'VEHOWNMO',
 'VEHOWNMO_label',
 'WKFTPT',
 'WKFTPT_label',
 'WKRMHM',
 'WKRMHM_label',
 'WRKCOUNT',
 'YEARMILE',
 'YOUNGCHILD']

In [74]:
#reorder variables
first_cols = ['HOUSEID','PERSONID','VEHID']
last_cols = [col for col in data.columns if col not in first_cols]
len(last_cols)

52

In [75]:
#reorder variables
data = data[first_cols+last_cols]

In [76]:
#review first few rows
data.head()

,HOUSEID,PERSONID,VEHID,CAR,CARSHARE,CAR_label,DRVRCNT,EDUC,EDUC_label,FUELTYPE,...,VEHOWNED_label,VEHOWNMO,VEHOWNMO_label,WKFTPT,WKFTPT_label,WKRMHM,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD
0,30000007,03,01,01,0.0,Daily,3.0,02,High school graduate or GED,01,...,Yes,-1,Appropriate skip,-1,Appropriate skip,-1,Appropriate skip,1.0,1000.0,0.0
1,30000007,01,03,01,0.0,Daily,3.0,03,Some college or associates degree,01,...,Yes,-1,Appropriate skip,-1,Appropriate skip,-1,Appropriate skip,1.0,1000.0,0.0
2,30000007,02,04,01,0.0,Daily,3.0,03,Some college or associates degree,01,...,Yes,-1,Appropriate skip,01,Full-time,02,No,1.0,10000.0,0.0
3,30000007,02,05,01,0.0,Daily,3.0,03,Some college or associates degree,01,...,Yes,-1,Appropriate skip,01,Full-time,02,No,1.0,10000.0,0.0
4,30000008,02,02,01,0.0,Daily,2.0,04,Bachelor's degree,01,...,Yes,-1,Appropriate skip,01,Full-time,02,No,2.0,10000.0,0.0

In [77]:
#get dimension
data.shape

(250200, 55)

In [78]:
#Select string variables
data_char = data.select_dtypes(['object'])
data_char.head()

,HOUSEID,PERSONID,VEHID,CAR,CAR_label,EDUC,EDUC_label,FUELTYPE,FUELTYPE_label,GT1JBLWK,...,R_SEX,R_SEX_label,VEHOWNED,VEHOWNED_label,VEHOWNMO,VEHOWNMO_label,WKFTPT,WKFTPT_label,WKRMHM,WKRMHM_label
0,30000007,03,01,01,Daily,02,High school graduate or GED,01,Gas,-1,...,02,Female,01,Yes,-1,Appropriate skip,-1,Appropriate skip,-1,Appropriate skip
1,30000007,01,03,01,Daily,03,Some college or associates degree,01,Gas,-1,...,02,Female,01,Yes,-1,Appropriate skip,-1,Appropriate skip,-1,Appropriate skip
2,30000007,02,04,01,Daily,03,Some college or associates degree,01,Gas,02,...,01,Male,01,Yes,-1,Appropriate skip,01,Full-time,02,No
3,30000007,02,05,01,Daily,03,Some college or associates degree,01,Gas,02,...,01,Male,01,Yes,-1,Appropriate skip,01,Full-time,02,No
4,30000008,02,02,01,Daily,04,Bachelor's degree,01,Gas,02,...,02,Female,01,Yes,-1,Appropriate skip,01,Full-time,02,No

In [79]:
#Do a review of these variables
#Remove trailing or leading spaces
data[data_char.columns] = data_char.apply(lambda x: x.str.strip())

In [80]:
#Get dimension of data
data.shape

(250200, 55)

In [81]:
#Look at first few rows
data.head()

,HOUSEID,PERSONID,VEHID,CAR,CARSHARE,CAR_label,DRVRCNT,EDUC,EDUC_label,FUELTYPE,...,VEHOWNED_label,VEHOWNMO,VEHOWNMO_label,WKFTPT,WKFTPT_label,WKRMHM,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD
0,30000007,03,01,01,0.0,Daily,3.0,02,High school graduate or GED,01,...,Yes,-1,Appropriate skip,-1,Appropriate skip,-1,Appropriate skip,1.0,1000.0,0.0
1,30000007,01,03,01,0.0,Daily,3.0,03,Some college or associates degree,01,...,Yes,-1,Appropriate skip,-1,Appropriate skip,-1,Appropriate skip,1.0,1000.0,0.0
2,30000007,02,04,01,0.0,Daily,3.0,03,Some college or associates degree,01,...,Yes,-1,Appropriate skip,01,Full-time,02,No,1.0,10000.0,0.0
3,30000007,02,05,01,0.0,Daily,3.0,03,Some college or associates degree,01,...,Yes,-1,Appropriate skip,01,Full-time,02,No,1.0,10000.0,0.0
4,30000008,02,02,01,0.0,Daily,2.0,04,Bachelor's degree,01,...,Yes,-1,Appropriate skip,01,Full-time,02,No,2.0,10000.0,0.0

In [82]:
#Get information about dataset
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250200 entries, 0 to 250199
Data columns (total 55 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HOUSEID         250200 non-null  object
 1   PERSONID        250200 non-null  object
 2   VEHID           250200 non-null  object
 3   CAR             250200 non-null  object
 4   CARSHARE        250200 non-null  float64
 5   CAR_label       250200 non-null  object
 6   DRVRCNT         250200 non-null  float64
 7   EDUC            250200 non-null  object
 8   EDUC_label      250200 non-null  object
 9   FUELTYPE        250200 non-null  object
 10  FUELTYPE_label  250200 non-null  object
 11  GT1JBLWK        250200 non-null  object
 12  GT1JBLWK_label  250200 non-null  object
 13  HBHUR           250200 non-null  object
 14  HBHUR_label     250200 non-null  object
 15  HBPPOPDN        250200 non-null  object
 16  HBPPOPDN_label  250200 non-null  object
 17  HBRESDN         250200 non-null  object
 18  HBRESDN_label   250200 non-null  object
 19  HFUEL           250200 non-null  object
 20  HFUEL_label     250200 non-null  object
 21  HHFAMINC        250200 non-null  object
 22  HHFAMINC_label  250200 non-null  object
 23  HHSIZE          250200 non-null  float64
 24  HHSTATE         250200 non-null  object
 25  HHSTATE_label   250200 non-null  object
 26  HHVEHCNT        250200 non-null  float64
 27  HOMEOWN         250200 non-null  object
 28  HOMEOWN_label   250200 non-null  object
 29  OCCAT           250200 non-null  object
 30  OCCAT_label     250200 non-null  object
 31  PLACE           250200 non-null  object
 32  PLACE_label     250200 non-null  object
 33  PRICE           250200 non-null  object
 34  PRICE_label     250200 non-null  object
 35  R_AGE           250200 non-null  float64
 36  R_HISP          250200 non-null  object
 37  R_HISP_label    250200 non-null  object
 38  R_RACE          250200 non-null  object
 39  R_RACE_label    250200 non-null  object
 40  R_SEX           250200 non-null  object
 41  R_SEX_label     250200 non-null  object
 42  TIMETOWK        250200 non-null  float64
 43  VEHAGE          250200 non-null  float64
 44  VEHOWNED        250200 non-null  object
 45  VEHOWNED_label  250200 non-null  object
 46  VEHOWNMO        250200 non-null  object
 47  VEHOWNMO_label  250200 non-null  object
 48  WKFTPT          250200 non-null  object
 49  WKFTPT_label    250200 non-null  object
 50  WKRMHM          250200 non-null  object
 51  WKRMHM_label    250200 non-null  object
 52  WRKCOUNT        250200 non-null  float64
 53  YEARMILE        250200 non-null  float64
 54  YOUNGCHILD      250200 non-null  float64
dtypes: float64(10), object(45)
memory usage: 106.9+ MB

## Remove duplicate Car Info

In [83]:
#Number of unique number of people
data.groupby(['HOUSEID','PERSONID']).first().shape

(200610, 53)

In [84]:
#Group by and Count
group_veh = pd.DataFrame(data.groupby(['HOUSEID','PERSONID'])['VEHID'].agg('count'))
group_veh['VEHID'].value_counts()

1     163389
2      28717
3       6116
4       1565
5        483
6        192
7         68
8         37
9         17
10        16
12         7
11         3
Name: VEHID, dtype: int64

In [85]:
data['VEHAGE'].max()

40.0

In [86]:
data['VEHAGE'].min()

-8.0

In [87]:
data1 = data.sort_values('VEHAGE').groupby(['HOUSEID','PERSONID']).head(1)

In [88]:
group1_veh = pd.DataFrame(data1.groupby(['HOUSEID','PERSONID'])['VEHID'].agg('count'))

In [89]:
group1_veh['VEHID'].value_counts()

1    200610
Name: VEHID, dtype: int64

In [90]:
data1.head()

,HOUSEID,PERSONID,VEHID,CAR,CARSHARE,CAR_label,DRVRCNT,EDUC,EDUC_label,FUELTYPE,...,VEHOWNED_label,VEHOWNMO,VEHOWNMO_label,WKFTPT,WKFTPT_label,WKRMHM,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD
49977,30210010,02,03,01,0.0,Daily,3.0,03,Some college or associates degree,01,...,No,0,01,01,Full-time,02,No,3.0,25000.0,0.0
152617,40136586,01,01,01,0.0,Daily,1.0,03,Some college or associates degree,01,...,Yes,-1,Appropriate skip,-1,Appropriate skip,-1,Appropriate skip,0.0,1000.0,0.0
219521,40588561,04,04,01,0.0,Daily,3.0,02,High school graduate or GED,01,...,I don't know,-1,Appropriate skip,02,Part-time,02,No,2.0,5000.0,0.0
207962,40509371,01,01,03,10.0,A few times a month,1.0,04,Bachelor's degree,01,...,No,03,03,01,Full-time,-1,Appropriate skip,1.0,500.0,0.0
108057,30455166,01,02,01,0.0,Daily,2.0,05,Graduate degree or professional degree,01,...,Yes,-1,Appropriate skip,-1,Appropriate skip,-1,Appropriate skip,2.0,10000.0,0.0

In [91]:
#Get dimension
data1.shape

(200610, 55)

In [92]:
#Get data info
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200610 entries, 49977 to 38915
Data columns (total 55 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HOUSEID         200610 non-null  object
 1   PERSONID        200610 non-null  object
 2   VEHID           200610 non-null  object
 3   CAR             200610 non-null  object
 4   CARSHARE        200610 non-null  float64
 5   CAR_label       200610 non-null  object
 6   DRVRCNT         200610 non-null  float64
 7   EDUC            200610 non-null  object
 8   EDUC_label      200610 non-null  object
 9   FUELTYPE        200610 non-null  object
 10  FUELTYPE_label  200610 non-null  object
 11  GT1JBLWK        200610 non-null  object
 12  GT1JBLWK_label  200610 non-null  object
 13  HBHUR           200610 non-null  object
 14  HBHUR_label     200610 non-null  object
 15  HBPPOPDN        200610 non-null  object
 16  HBPPOPDN_label  200610 non-null  object
 17  HBRESDN         200610 non-null  object
 18  HBRESDN_label   200610 non-null  object
 19  HFUEL           200610 non-null  object
 20  HFUEL_label     200610 non-null  object
 21  HHFAMINC        200610 non-null  object
 22  HHFAMINC_label  200610 non-null  object
 23  HHSIZE          200610 non-null  float64
 24  HHSTATE         200610 non-null  object
 25  HHSTATE_label   200610 non-null  object
 26  HHVEHCNT        200610 non-null  float64
 27  HOMEOWN         200610 non-null  object
 28  HOMEOWN_label   200610 non-null  object
 29  OCCAT           200610 non-null  object
 30  OCCAT_label     200610 non-null  object
 31  PLACE           200610 non-null  object
 32  PLACE_label     200610 non-null  object
 33  PRICE           200610 non-null  object
 34  PRICE_label     200610 non-null  object
 35  R_AGE           200610 non-null  float64
 36  R_HISP          200610 non-null  object
 37  R_HISP_label    200610 non-null  object
 38  R_RACE          200610 non-null  object
 39  R_RACE_label    200610 non-null  object
 40  R_SEX           200610 non-null  object
 41  R_SEX_label     200610 non-null  object
 42  TIMETOWK        200610 non-null  float64
 43  VEHAGE          200610 non-null  float64
 44  VEHOWNED        200610 non-null  object
 45  VEHOWNED_label  200610 non-null  object
 46  VEHOWNMO        200610 non-null  object
 47  VEHOWNMO_label  200610 non-null  object
 48  WKFTPT          200610 non-null  object
 49  WKFTPT_label    200610 non-null  object
 50  WKRMHM          200610 non-null  object
 51  WKRMHM_label    200610 non-null  object
 52  WRKCOUNT        200610 non-null  float64
 53  YEARMILE        200610 non-null  float64
 54  YOUNGCHILD      200610 non-null  float64
dtypes: float64(10), object(45)
memory usage: 85.7+ MB

## Check Variable Type

In [93]:
#convert some variables to integers
data1_int_var = data1.select_dtypes('float').columns.to_list()

In [94]:
#convert variables
data1[data1_int_var] = data1[data1_int_var].astype(int)

In [95]:
#check info
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200610 entries, 49977 to 38915
Data columns (total 55 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HOUSEID         200610 non-null  object
 1   PERSONID        200610 non-null  object
 2   VEHID           200610 non-null  object
 3   CAR             200610 non-null  object
 4   CARSHARE        200610 non-null  int64
 5   CAR_label       200610 non-null  object
 6   DRVRCNT         200610 non-null  int64
 7   EDUC            200610 non-null  object
 8   EDUC_label      200610 non-null  object
 9   FUELTYPE        200610 non-null  object
 10  FUELTYPE_label  200610 non-null  object
 11  GT1JBLWK        200610 non-null  object
 12  GT1JBLWK_label  200610 non-null  object
 13  HBHUR           200610 non-null  object
 14  HBHUR_label     200610 non-null  object
 15  HBPPOPDN        200610 non-null  object
 16  HBPPOPDN_label  200610 non-null  object
 17  HBRESDN         200610 non-null  object
 18  HBRESDN_label   200610 non-null  object
 19  HFUEL           200610 non-null  object
 20  HFUEL_label     200610 non-null  object
 21  HHFAMINC        200610 non-null  object
 22  HHFAMINC_label  200610 non-null  object
 23  HHSIZE          200610 non-null  int64
 24  HHSTATE         200610 non-null  object
 25  HHSTATE_label   200610 non-null  object
 26  HHVEHCNT        200610 non-null  int64
 27  HOMEOWN         200610 non-null  object
 28  HOMEOWN_label   200610 non-null  object
 29  OCCAT           200610 non-null  object
 30  OCCAT_label     200610 non-null  object
 31  PLACE           200610 non-null  object
 32  PLACE_label     200610 non-null  object
 33  PRICE           200610 non-null  object
 34  PRICE_label     200610 non-null  object
 35  R_AGE           200610 non-null  int64
 36  R_HISP          200610 non-null  object
 37  R_HISP_label    200610 non-null  object
 38  R_RACE          200610 non-null  object
 39  R_RACE_label    200610 non-null  object
 40  R_SEX           200610 non-null  object
 41  R_SEX_label     200610 non-null  object
 42  TIMETOWK        200610 non-null  int64
 43  VEHAGE          200610 non-null  int64
 44  VEHOWNED        200610 non-null  object
 45  VEHOWNED_label  200610 non-null  object
 46  VEHOWNMO        200610 non-null  object
 47  VEHOWNMO_label  200610 non-null  object
 48  WKFTPT          200610 non-null  object
 49  WKFTPT_label    200610 non-null  object
 50  WKRMHM          200610 non-null  object
 51  WKRMHM_label    200610 non-null  object
 52  WRKCOUNT        200610 non-null  int64
 53  YEARMILE        200610 non-null  int64
 54  YOUNGCHILD      200610 non-null  int64
dtypes: int64(10), object(45)
memory usage: 85.7+ MB

In [96]:
#ordinal easy to code variables
ord = ["CAR","EDUC","HBPPOPDN","HBRESDN","HHFAMINC","PLACE","PRICE","VEHOWNMO"]

In [97]:
#frequencies of these variables after conversion
pd.options.display.max_rows = 100
data1[ord].apply(lambda x: x.value_counts()).T.stack()

CAR       -1         1900.0
          -8            2.0
          01       169442.0
          02        25906.0
          03         2489.0
          04          280.0
          05          591.0
EDUC      -1           29.0
          -7           59.0
          -8           55.0
          01         7190.0
          02        36276.0
          03        60753.0
          04        51148.0
          05        45100.0
HBPPOPDN  -9          172.0
          1500      26306.0
          17000      9790.0
          300       33262.0
          3000      37886.0
          30000      2032.0
          50        27695.0
          7000      44693.0
          750       18774.0
HBRESDN   -9          172.0
          1500      40055.0
          17000      2413.0
          300       41332.0
          3000      32247.0
          30000       579.0
          50        44182.0
          7000      10484.0
          750       29146.0
HHFAMINC  -7         5380.0
          -8          809.0
          -9           29.0
          01         5068.0
          02         6065.0
          03        12982.0
          04        15878.0
          05        22444.0
          06        35870.0
          07        29646.0
          08        23976.0
          09        13792.0
          10        13905.0
          11        14766.0
PLACE     -8            1.0
          -9         3686.0
          01        17153.0
          02        54462.0
          03        69538.0
          04        42387.0
          05        13383.0
PRICE     -8            1.0
          -9          686.0
          01        33705.0
          02        58636.0
          03        39888.0
          04        44713.0
          05        22981.0
VEHOWNMO  -1       169440.0
          -7          174.0
          -8          161.0
          -9            4.0
          0          1298.0
          01         3376.0
          02         2965.0
          03         3075.0
          04         2836.0
          05         2462.0
          06         3627.0
          07         2102.0
          08         2557.0
          09         2155.0
          10         2421.0
          11         1957.0
dtype: float64

In [98]:
#change type to integer
data1[ord] = data1[ord].astype(int)

In [99]:
#frequencies of these variables after conversion
data1[ord].apply(lambda x: x.value_counts()).T.stack()

CAR       -8             2.0
          -1          1900.0
           1        169442.0
           2         25906.0
           3          2489.0
           4           280.0
           5           591.0
EDUC      -8            55.0
          -7            59.0
          -1            29.0
           1          7190.0
           2         36276.0
           3         60753.0
           4         51148.0
           5         45100.0
HBPPOPDN  -9           172.0
           50        27695.0
           300       33262.0
           750       18774.0
           1500      26306.0
           3000      37886.0
           7000      44693.0
           17000      9790.0
           30000      2032.0
HBRESDN   -9           172.0
           50        44182.0
           300       41332.0
           750       29146.0
           1500      40055.0
           3000      32247.0
           7000      10484.0
           17000      2413.0
           30000       579.0
HHFAMINC  -9            29.0
          -8           809.0
          -7          5380.0
           1          5068.0
           2          6065.0
           3         12982.0
           4         15878.0
           5         22444.0
           6         35870.0
           7         29646.0
           8         23976.0
           9         13792.0
           10        13905.0
           11        14766.0
PLACE     -9          3686.0
          -8             1.0
           1         17153.0
           2         54462.0
           3         69538.0
           4         42387.0
           5         13383.0
PRICE     -9           686.0
          -8             1.0
           1         33705.0
           2         58636.0
           3         39888.0
           4         44713.0
           5         22981.0
VEHOWNMO  -9             4.0
          -8           161.0
          -7           174.0
          -1        169440.0
           0          1298.0
           1          3376.0
           2          2965.0
           3          3075.0
           4          2836.0
           5          2462.0
           6          3627.0
           7          2102.0
           8          2557.0
           9          2155.0
           10         2421.0
           11         1957.0
dtype: float64

In [100]:
#drop this variable. Doesn't make sense to have label.
data1.drop(columns=['VEHOWNMO_label'], inplace=True)

In [101]:
#Get data into
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200610 entries, 49977 to 38915
Data columns (total 54 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HOUSEID         200610 non-null  object
 1   PERSONID        200610 non-null  object
 2   VEHID           200610 non-null  object
 3   CAR             200610 non-null  int64
 4   CARSHARE        200610 non-null  int64
 5   CAR_label       200610 non-null  object
 6   DRVRCNT         200610 non-null  int64
 7   EDUC            200610 non-null  int64
 8   EDUC_label      200610 non-null  object
 9   FUELTYPE        200610 non-null  object
 10  FUELTYPE_label  200610 non-null  object
 11  GT1JBLWK        200610 non-null  object
 12  GT1JBLWK_label  200610 non-null  object
 13  HBHUR           200610 non-null  object
 14  HBHUR_label     200610 non-null  object
 15  HBPPOPDN        200610 non-null  int64
 16  HBPPOPDN_label  200610 non-null  object
 17  HBRESDN         200610 non-null  int64
 18  HBRESDN_label   200610 non-null  object
 19  HFUEL           200610 non-null  object
 20  HFUEL_label     200610 non-null  object
 21  HHFAMINC        200610 non-null  int64
 22  HHFAMINC_label  200610 non-null  object
 23  HHSIZE          200610 non-null  int64
 24  HHSTATE         200610 non-null  object
 25  HHSTATE_label   200610 non-null  object
 26  HHVEHCNT        200610 non-null  int64
 27  HOMEOWN         200610 non-null  object
 28  HOMEOWN_label   200610 non-null  object
 29  OCCAT           200610 non-null  object
 30  OCCAT_label     200610 non-null  object
 31  PLACE           200610 non-null  int64
 32  PLACE_label     200610 non-null  object
 33  PRICE           200610 non-null  int64
 34  PRICE_label     200610 non-null  object
 35  R_AGE           200610 non-null  int64
 36  R_HISP          200610 non-null  object
 37  R_HISP_label    200610 non-null  object
 38  R_RACE          200610 non-null  object
 39  R_RACE_label    200610 non-null  object
 40  R_SEX           200610 non-null  object
 41  R_SEX_label     200610 non-null  object
 42  TIMETOWK        200610 non-null  int64
 43  VEHAGE          200610 non-null  int64
 44  VEHOWNED        200610 non-null  object
 45  VEHOWNED_label  200610 non-null  object
 46  VEHOWNMO        200610 non-null  int64
 47  WKFTPT          200610 non-null  object
 48  WKFTPT_label    200610 non-null  object
 49  WKRMHM          200610 non-null  object
 50  WKRMHM_label    200610 non-null  object
 51  WRKCOUNT        200610 non-null  int64
 52  YEARMILE        200610 non-null  int64
 53  YOUNGCHILD      200610 non-null  int64
dtypes: int64(18), object(36)
memory usage: 84.2+ MB

In [102]:
#Get dimension
data1.shape

(200610, 54)

In [103]:
nominal = ["GT1JBLWK",
"HOMEOWN",
"OCCAT",
"R_HISP",
"R_RACE",
"R_SEX",
"VEHOWNED",
"WKFTPT",
"WKRMHM", "FUELTYPE","HFUEL"]

In [104]:
data1[nominal] = data1[nominal].astype(int)

In [105]:
#get data info
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200610 entries, 49977 to 38915
Data columns (total 54 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HOUSEID         200610 non-null  object
 1   PERSONID        200610 non-null  object
 2   VEHID           200610 non-null  object
 3   CAR             200610 non-null  int64
 4   CARSHARE        200610 non-null  int64
 5   CAR_label       200610 non-null  object
 6   DRVRCNT         200610 non-null  int64
 7   EDUC            200610 non-null  int64
 8   EDUC_label      200610 non-null  object
 9   FUELTYPE        200610 non-null  int64
 10  FUELTYPE_label  200610 non-null  object
 11  GT1JBLWK        200610 non-null  int64
 12  GT1JBLWK_label  200610 non-null  object
 13  HBHUR           200610 non-null  object
 14  HBHUR_label     200610 non-null  object
 15  HBPPOPDN        200610 non-null  int64
 16  HBPPOPDN_label  200610 non-null  object
 17  HBRESDN         200610 non-null  int64
 18  HBRESDN_label   200610 non-null  object
 19  HFUEL           200610 non-null  int64
 20  HFUEL_label     200610 non-null  object
 21  HHFAMINC        200610 non-null  int64
 22  HHFAMINC_label  200610 non-null  object
 23  HHSIZE          200610 non-null  int64
 24  HHSTATE         200610 non-null  object
 25  HHSTATE_label   200610 non-null  object
 26  HHVEHCNT        200610 non-null  int64
 27  HOMEOWN         200610 non-null  int64
 28  HOMEOWN_label   200610 non-null  object
 29  OCCAT           200610 non-null  int64
 30  OCCAT_label     200610 non-null  object
 31  PLACE           200610 non-null  int64
 32  PLACE_label     200610 non-null  object
 33  PRICE           200610 non-null  int64
 34  PRICE_label     200610 non-null  object
 35  R_AGE           200610 non-null  int64
 36  R_HISP          200610 non-null  int64
 37  R_HISP_label    200610 non-null  object
 38  R_RACE          200610 non-null  int64
 39  R_RACE_label    200610 non-null  object
 40  R_SEX           200610 non-null  int64
 41  R_SEX_label     200610 non-null  object
 42  TIMETOWK        200610 non-null  int64
 43  VEHAGE          200610 non-null  int64
 44  VEHOWNED        200610 non-null  int64
 45  VEHOWNED_label  200610 non-null  object
 46  VEHOWNMO        200610 non-null  int64
 47  WKFTPT          200610 non-null  int64
 48  WKFTPT_label    200610 non-null  object
 49  WKRMHM          200610 non-null  int64
 50  WKRMHM_label    200610 non-null  object
 51  WRKCOUNT        200610 non-null  int64
 52  YEARMILE        200610 non-null  int64
 53  YOUNGCHILD      200610 non-null  int64
dtypes: int64(29), object(25)
memory usage: 84.2+ MB

In [106]:
cont = data1.select_dtypes('float').columns.to_list()
data1[cont] = data1[cont].astype(int)

In [107]:
#get data info
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200610 entries, 49977 to 38915
Data columns (total 54 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HOUSEID         200610 non-null  object
 1   PERSONID        200610 non-null  object
 2   VEHID           200610 non-null  object
 3   CAR             200610 non-null  int64
 4   CARSHARE        200610 non-null  int64
 5   CAR_label       200610 non-null  object
 6   DRVRCNT         200610 non-null  int64
 7   EDUC            200610 non-null  int64
 8   EDUC_label      200610 non-null  object
 9   FUELTYPE        200610 non-null  int64
 10  FUELTYPE_label  200610 non-null  object
 11  GT1JBLWK        200610 non-null  int64
 12  GT1JBLWK_label  200610 non-null  object
 13  HBHUR           200610 non-null  object
 14  HBHUR_label     200610 non-null  object
 15  HBPPOPDN        200610 non-null  int64
 16  HBPPOPDN_label  200610 non-null  object
 17  HBRESDN         200610 non-null  int64
 18  HBRESDN_label   200610 non-null  object
 19  HFUEL           200610 non-null  int64
 20  HFUEL_label     200610 non-null  object
 21  HHFAMINC        200610 non-null  int64
 22  HHFAMINC_label  200610 non-null  object
 23  HHSIZE          200610 non-null  int64
 24  HHSTATE         200610 non-null  object
 25  HHSTATE_label   200610 non-null  object
 26  HHVEHCNT        200610 non-null  int64
 27  HOMEOWN         200610 non-null  int64
 28  HOMEOWN_label   200610 non-null  object
 29  OCCAT           200610 non-null  int64
 30  OCCAT_label     200610 non-null  object
 31  PLACE           200610 non-null  int64
 32  PLACE_label     200610 non-null  object
 33  PRICE           200610 non-null  int64
 34  PRICE_label     200610 non-null  object
 35  R_AGE           200610 non-null  int64
 36  R_HISP          200610 non-null  int64
 37  R_HISP_label    200610 non-null  object
 38  R_RACE          200610 non-null  int64
 39  R_RACE_label    200610 non-null  object
 40  R_SEX           200610 non-null  int64
 41  R_SEX_label     200610 non-null  object
 42  TIMETOWK        200610 non-null  int64
 43  VEHAGE          200610 non-null  int64
 44  VEHOWNED        200610 non-null  int64
 45  VEHOWNED_label  200610 non-null  object
 46  VEHOWNMO        200610 non-null  int64
 47  WKFTPT          200610 non-null  int64
 48  WKFTPT_label    200610 non-null  object
 49  WKRMHM          200610 non-null  int64
 50  WKRMHM_label    200610 non-null  object
 51  WRKCOUNT        200610 non-null  int64
 52  YEARMILE        200610 non-null  int64
 53  YOUNGCHILD      200610 non-null  int64
dtypes: int64(29), object(25)
memory usage: 84.2+ MB

In [108]:
data1_obj = data1.select_dtypes(['object']).columns.to_list()

In [109]:
data1_int = data1.select_dtypes(['int64']).columns.to_list()

# Label/Value Mapping

In [110]:
data1[data1_obj] = data1[data1_obj].apply(lambda x: x.str.upper())
data1.head()

,HOUSEID,PERSONID,VEHID,CAR,CARSHARE,CAR_label,DRVRCNT,EDUC,EDUC_label,FUELTYPE,...,VEHOWNED,VEHOWNED_label,VEHOWNMO,WKFTPT,WKFTPT_label,WKRMHM,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD
49977,30210010,02,03,1,0,DAILY,3,3,SOME COLLEGE OR ASSOCIATES DEGREE,1,...,2,NO,0,1,FULL-TIME,2,NO,3,25000,0
152617,40136586,01,01,1,0,DAILY,1,3,SOME COLLEGE OR ASSOCIATES DEGREE,1,...,1,YES,-1,-1,APPROPRIATE SKIP,-1,APPROPRIATE SKIP,0,1000,0
219521,40588561,04,04,1,0,DAILY,3,2,HIGH SCHOOL GRADUATE OR GED,1,...,-8,I DON'T KNOW,-1,2,PART-TIME,2,NO,2,5000,0
207962,40509371,01,01,3,10,A FEW TIMES A MONTH,1,4,BACHELOR'S DEGREE,1,...,2,NO,3,1,FULL-TIME,-1,APPROPRIATE SKIP,1,500,0
108057,30455166,01,02,1,0,DAILY,2,5,GRADUATE DEGREE OR PROFESSIONAL DEGREE,1,...,1,YES,-1,-1,APPROPRIATE SKIP,-1,APPROPRIATE SKIP,2,10000,0

In [111]:
#for integer variables
nan_map_int = {-7: np.nan, -77: np.nan,
           -8: np.nan, -88: np.nan,
           -1: np.nan, -9: np.nan
          }
#For variables with string
nan_map_str = {"-7": np.nan, "-77": np.nan,
           "-8": np.nan, "-88": np.nan,
           "-1": np.nan, "-9": np.nan}

#with variables with string but are labels
nan_map_label = {"I PREFER NOT TO ANSWER": np.nan,"I DON'T KNOW": np.nan,
           "APPROPRIATE SKIP": np.nan, "NOT ASCERTAINED": np.nan}

# TODO: get column names as dict keys;the above dict then get zipped to those keys
# use resulting dict to replace

In [112]:
%%time
# copy DataFrames
data_nan = data1.copy()

CPU times: user 62.5 ms, sys: 1.93 ms, total: 64.4 ms
Wall time: 61.8 ms

In [113]:
#replace integer variables
data_nan[data1_int] = data_nan[data1_int].replace(nan_map_int)

In [114]:
#categorical variables with string labels
data_nan[['HBHUR','HHSTATE']] = data_nan[['HBHUR','HHSTATE']].replace(nan_map_str)

In [115]:
#replace labels
data_nan[data1_obj] = data_nan[data1_obj].replace(nan_map_label)

In [116]:
#get data info
data_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200610 entries, 49977 to 38915
Data columns (total 54 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   HOUSEID         200610 non-null  object
 1   PERSONID        200610 non-null  object
 2   VEHID           200610 non-null  object
 3   CAR             198708 non-null  float64
 4   CARSHARE        200316 non-null  float64
 5   CAR_label       198708 non-null  object
 6   DRVRCNT         200610 non-null  float64
 7   EDUC            200467 non-null  float64
 8   EDUC_label      200467 non-null  object
 9   FUELTYPE        200564 non-null  float64
 10  FUELTYPE_label  200564 non-null  object
 11  GT1JBLWK        114498 non-null  float64
 12  GT1JBLWK_label  114498 non-null  object
 13  HBHUR           200438 non-null  object
 14  HBHUR_label     200438 non-null  object
 15  HBPPOPDN        200438 non-null  float64
 16  HBPPOPDN_label  200438 non-null  object
 17  HBRESDN         200438 non-null  float64
 18  HBRESDN_label   200438 non-null  object
 19  HFUEL           5813 non-null    float64
 20  HFUEL_label     5813 non-null    object
 21  HHFAMINC        194392 non-null  float64
 22  HHFAMINC_label  194392 non-null  object
 23  HHSIZE          200610 non-null  float64
 24  HHSTATE         200610 non-null  object
 25  HHSTATE_label   200610 non-null  object
 26  HHVEHCNT        200610 non-null  float64
 27  HOMEOWN         200568 non-null  float64
 28  HOMEOWN_label   200568 non-null  object
 29  OCCAT           114450 non-null  float64
 30  OCCAT_label     114450 non-null  object
 31  PLACE           196923 non-null  float64
 32  PLACE_label     196923 non-null  object
 33  PRICE           199923 non-null  float64
 34  PRICE_label     199923 non-null  object
 35  R_AGE           200315 non-null  float64
 36  R_HISP          200327 non-null  float64
 37  R_HISP_label    200327 non-null  object
 38  R_RACE          199610 non-null  float64
 39  R_RACE_label    200610 non-null  object
 40  R_SEX           200488 non-null  float64
 41  R_SEX_label     200488 non-null  object
 42  TIMETOWK        98955 non-null   float64
 43  VEHAGE          199512 non-null  float64
 44  VEHOWNED        200448 non-null  float64
 45  VEHOWNED_label  200448 non-null  object
 46  VEHOWNMO        30831 non-null   float64
 47  WKFTPT          114435 non-null  float64
 48  WKFTPT_label    114435 non-null  object
 49  WKRMHM          99066 non-null   float64
 50  WKRMHM_label    99066 non-null   object
 51  WRKCOUNT        200610 non-null  float64
 52  YEARMILE        147870 non-null  float64
 53  YOUNGCHILD      200610 non-null  float64
dtypes: float64(29), object(25)
memory usage: 84.2+ MB

In [117]:
#get data shape
data_nan.shape

(200610, 54)

Use data_nan data frame for further analysis

In [118]:
#Look at first few rows
data_nan.head()

,HOUSEID,PERSONID,VEHID,CAR,CARSHARE,CAR_label,DRVRCNT,EDUC,EDUC_label,FUELTYPE,...,VEHOWNED,VEHOWNED_label,VEHOWNMO,WKFTPT,WKFTPT_label,WKRMHM,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD
49977,30210010,02,03,1.0,0.0,DAILY,3.0,3.0,SOME COLLEGE OR ASSOCIATES DEGREE,1.0,...,2.0,NO,0.0,1.0,FULL-TIME,2.0,NO,3.0,25000.0,0.0
152617,40136586,01,01,1.0,0.0,DAILY,1.0,3.0,SOME COLLEGE OR ASSOCIATES DEGREE,1.0,...,1.0,YES,NaN,NaN,NaN,NaN,NaN,0.0,1000.0,0.0
219521,40588561,04,04,1.0,0.0,DAILY,3.0,2.0,HIGH SCHOOL GRADUATE OR GED,1.0,...,NaN,NaN,NaN,2.0,PART-TIME,2.0,NO,2.0,5000.0,0.0
207962,40509371,01,01,3.0,10.0,A FEW TIMES A MONTH,1.0,4.0,BACHELOR'S DEGREE,1.0,...,2.0,NO,3.0,1.0,FULL-TIME,NaN,NaN,1.0,500.0,0.0
108057,30455166,01,02,1.0,0.0,DAILY,2.0,5.0,GRADUATE DEGREE OR PROFESSIONAL DEGREE,1.0,...,1.0,YES,NaN,NaN,NaN,NaN,NaN,2.0,10000.0,0.0

In [119]:
#check an example
data_nan['CAR_label'].unique()

array(['DAILY', 'A FEW TIMES A MONTH', nan, 'A FEW TIMES A WEEK',
       'A FEW TIMES A YEAR', 'NEVER'], dtype=object)

# Response Variable

In [120]:
#Review two potential variables
data_nan.groupby(['HFUEL_label','FUELTYPE_label'])['HFUEL_label','FUELTYPE_label'].agg('count')

/Users/Avinash/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,,HFUEL_label,FUELTYPE_label
HFUEL_label,FUELTYPE_label,,
BIODIESEL,"HYBRID, ELECTRIC OR ALTERNATIVE FUEL",23,23
ELECTRIC (E.G. NISSAN LEAF),"HYBRID, ELECTRIC OR ALTERNATIVE FUEL",500,500
"HYBRID (GAS/ELECTRIC, NOT PLUG-IN E.G., TOYOTA PRIUS)","HYBRID, ELECTRIC OR ALTERNATIVE FUEL",4714,4714
"PLUG-IN HYBRID (GAS/ELECTRIC E.G., CHEVY VOLT)","HYBRID, ELECTRIC OR ALTERNATIVE FUEL",446,446
SOME OTHER FUEL,"HYBRID, ELECTRIC OR ALTERNATIVE FUEL",130,130

In [121]:
data_nan['FUELTYPE'].value_counts()

1.0     189963
3.0       5911
2.0       4567
97.0       123
Name: FUELTYPE, dtype: int64

Appropriate to use FuelType as response variable

In [122]:
#Get counts normalized
data_nan['FUELTYPE_label'].value_counts(normalize=True)

GAS                                     0.947144
HYBRID, ELECTRIC OR ALTERNATIVE FUEL    0.029472
DIESEL                                  0.022771
SOME OTHER FUEL                         0.000613
Name: FUELTYPE_label, dtype: float64

In [123]:
#Get counts
data_nan['FUELTYPE_label'].value_counts()

GAS                                     189963
HYBRID, ELECTRIC OR ALTERNATIVE FUEL      5911
DIESEL                                    4567
SOME OTHER FUEL                            123
Name: FUELTYPE_label, dtype: int64

We will drop values that are NA since we can't do prediction on them.

In [124]:
#drop NA values
data_nan.dropna(subset=['FUELTYPE'], inplace=True)

In [125]:
#check
data_nan['FUELTYPE'].unique()

array([ 1.,  2., 97.,  3.])

In [126]:
#Get dimension
data_nan.shape

(200564, 54)

Recode the other values.

In [127]:
#Recode non-EV to 0
data_nan['fueltype_numeric'] = data_nan["FUELTYPE"].astype('int').replace(dict.fromkeys([1,2,97], 1))
data_nan['fueltype_numeric'].replace({3:0}, inplace=True)

In [128]:
#Check counts
data_nan['fueltype_numeric'].value_counts()

1    194653
0      5911
Name: fueltype_numeric, dtype: int64

In [129]:
#create a label
data_nan["fueltype_numeric_label"] = data_nan["fueltype_numeric"].replace(0,"EV")
data_nan["fueltype_numeric_label"].replace(1,"Non-EV", inplace=True)

In [130]:
#Drop redundant variables
data_nan = data_nan.drop(columns = ['FUELTYPE_label','FUELTYPE','HFUEL','HFUEL_label'],axis=1)

In [131]:
#Review first few rows
data_nan.head()

,HOUSEID,PERSONID,VEHID,CAR,CARSHARE,CAR_label,DRVRCNT,EDUC,EDUC_label,GT1JBLWK,...,VEHOWNMO,WKFTPT,WKFTPT_label,WKRMHM,WKRMHM_label,WRKCOUNT,YEARMILE,YOUNGCHILD,fueltype_numeric,fueltype_numeric_label
49977,30210010,02,03,1.0,0.0,DAILY,3.0,3.0,SOME COLLEGE OR ASSOCIATES DEGREE,2.0,...,0.0,1.0,FULL-TIME,2.0,NO,3.0,25000.0,0.0,1,Non-EV
152617,40136586,01,01,1.0,0.0,DAILY,1.0,3.0,SOME COLLEGE OR ASSOCIATES DEGREE,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,1000.0,0.0,1,Non-EV
219521,40588561,04,04,1.0,0.0,DAILY,3.0,2.0,HIGH SCHOOL GRADUATE OR GED,2.0,...,NaN,2.0,PART-TIME,2.0,NO,2.0,5000.0,0.0,1,Non-EV
207962,40509371,01,01,3.0,10.0,A FEW TIMES A MONTH,1.0,4.0,BACHELOR'S DEGREE,2.0,...,3.0,1.0,FULL-TIME,NaN,NaN,1.0,500.0,0.0,1,Non-EV
108057,30455166,01,02,1.0,0.0,DAILY,2.0,5.0,GRADUATE DEGREE OR PROFESSIONAL DEGREE,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,10000.0,0.0,1,Non-EV

In [132]:
#Get info
#Get dimension
data_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200564 entries, 49977 to 38915
Data columns (total 52 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   HOUSEID                 200564 non-null  object
 1   PERSONID                200564 non-null  object
 2   VEHID                   200564 non-null  object
 3   CAR                     198663 non-null  float64
 4   CARSHARE                200271 non-null  float64
 5   CAR_label               198663 non-null  object
 6   DRVRCNT                 200564 non-null  float64
 7   EDUC                    200424 non-null  float64
 8   EDUC_label              200424 non-null  object
 9   GT1JBLWK                114467 non-null  float64
 10  GT1JBLWK_label          114467 non-null  object
 11  HBHUR                   200392 non-null  object
 12  HBHUR_label             200392 non-null  object
 13  HBPPOPDN                200392 non-null  float64
 14  HBPPOPDN_label          200392 non-null  object
 15  HBRESDN                 200392 non-null  float64
 16  HBRESDN_label           200392 non-null  object
 17  HHFAMINC                194349 non-null  float64
 18  HHFAMINC_label          194349 non-null  object
 19  HHSIZE                  200564 non-null  float64
 20  HHSTATE                 200564 non-null  object
 21  HHSTATE_label           200564 non-null  object
 22  HHVEHCNT                200564 non-null  float64
 23  HOMEOWN                 200522 non-null  float64
 24  HOMEOWN_label           200522 non-null  object
 25  OCCAT                   114419 non-null  float64
 26  OCCAT_label             114419 non-null  object
 27  PLACE                   196881 non-null  float64
 28  PLACE_label             196881 non-null  object
 29  PRICE                   199877 non-null  float64
 30  PRICE_label             199877 non-null  object
 31  R_AGE                   200269 non-null  float64
 32  R_HISP                  200281 non-null  float64
 33  R_HISP_label            200281 non-null  object
 34  R_RACE                  199564 non-null  float64
 35  R_RACE_label            200564 non-null  object
 36  R_SEX                   200442 non-null  float64
 37  R_SEX_label             200442 non-null  object
 38  TIMETOWK                98932 non-null   float64
 39  VEHAGE                  199483 non-null  float64
 40  VEHOWNED                200405 non-null  float64
 41  VEHOWNED_label          200405 non-null  object
 42  VEHOWNMO                30822 non-null   float64
 43  WKFTPT                  114404 non-null  float64
 44  WKFTPT_label            114404 non-null  object
 45  WKRMHM                  99042 non-null   float64
 46  WKRMHM_label            99042 non-null   object
 47  WRKCOUNT                200564 non-null  float64
 48  YEARMILE                147843 non-null  float64
 49  YOUNGCHILD              200564 non-null  float64
 50  fueltype_numeric        200564 non-null  int64
 51  fueltype_numeric_label  200564 non-null  object
dtypes: float64(27), int64(1), object(24)
memory usage: 81.1+ MB

In [133]:
#Get dimension
data_nan.shape

(200564, 52)

## Recode

In [134]:
#CAR
data_nan['CAR'].value_counts()

1.0    169410
2.0     25898
3.0      2485
5.0       591
4.0       279
Name: CAR, dtype: int64

In [135]:
data_nan['CAR'] = data_nan['CAR'].map({1:5,2:4,3:3,4:2,5:1})

In [136]:
#CAR
data_nan['CAR'].value_counts()

5.0    169410
4.0     25898
3.0      2485
1.0       591
2.0       279
Name: CAR, dtype: int64

In [137]:
#CAR_label
data_nan['CAR_label'].value_counts()

DAILY                  169410
A FEW TIMES A WEEK      25898
A FEW TIMES A MONTH      2485
NEVER                     591
A FEW TIMES A YEAR        279
Name: CAR_label, dtype: int64

In [138]:
#CAR_label
data_nan['CAR_label'] = data_nan['CAR'].replace({1:"Never",2:"A FEW TIMES A YEAR",3:"A FEW TIMES A MONTH",4:"A FEW TIMES A WEEK",5:"DAILY"})

In [139]:
#CAR_label
data_nan['CAR_label'].value_counts()

DAILY                  169410
A FEW TIMES A WEEK      25898
A FEW TIMES A MONTH      2485
Never                     591
A FEW TIMES A YEAR        279
Name: CAR_label, dtype: int64

In [140]:
data_nan['PLACE'].value_counts()

3.0    69528
2.0    54447
4.0    42379
1.0    17146
5.0    13381
Name: PLACE, dtype: int64

In [141]:
data_nan['PRICE'].value_counts()

2.0    58621
4.0    44705
3.0    39880
1.0    33694
5.0    22977
Name: PRICE, dtype: int64

In [142]:
data_nan['PLACE_label'].value_counts()

NEITHER AGREE OR DISAGREE    69528
AGREE                        54447
DISAGREE                     42379
STRONGLY AGREE               17146
STRONGLY DISAGREE            13381
Name: PLACE_label, dtype: int64

In [143]:
data_nan['PRICE_label'].value_counts()

AGREE                        58621
DISAGREE                     44705
NEITHER AGREE OR DISAGREE    39880
STRONGLY AGREE               33694
STRONGLY DISAGREE            22977
Name: PRICE_label, dtype: int64

In [144]:
likert = ['PLACE','PRICE']
for var in likert:
    data_nan[var] = data_nan[var].map({1:5,2:4,3:3,4:2,5:1})

In [145]:
likert_label = ['PLACE_label','PRICE_label']
for var in likert_label:
    data_nan[var].replace({"STRONGLY AGREE":"STRONGLY DISAGREE","AGREE":"DISAGREE","NEITHER AGREE OR DISAGREE":"NEITHER AGREE OR DISAGREE","DISAGREE":"AGREE","STRONGLY DISAGREE":"STRONGLY AGREE"}, inplace=True)

In [146]:
data_nan['PLACE'].value_counts()

3.0    69528
4.0    54447
2.0    42379
5.0    17146
1.0    13381
Name: PLACE, dtype: int64

In [147]:
data_nan['PRICE'].value_counts()

4.0    58621
2.0    44705
3.0    39880
5.0    33694
1.0    22977
Name: PRICE, dtype: int64

In [148]:
data_nan['PLACE_label'].value_counts()

NEITHER AGREE OR DISAGREE    69528
DISAGREE                     54447
AGREE                        42379
STRONGLY DISAGREE            17146
STRONGLY AGREE               13381
Name: PLACE_label, dtype: int64

In [149]:
data_nan['PRICE_label'].value_counts()

DISAGREE                     58621
AGREE                        44705
NEITHER AGREE OR DISAGREE    39880
STRONGLY DISAGREE            33694
STRONGLY AGREE               22977
Name: PRICE_label, dtype: int64

In [150]:
data_nan['HBHUR'].value_counts()

R    48635
T    47063
S    46503
C    37573
U    20618
Name: HBHUR, dtype: int64

In [151]:
#HBHUR
data_nan['HBHUR'] = data_nan['HBHUR'].replace({'R':'R'}).replace(dict.fromkeys(['C','S','T','U'],'NR'))

In [152]:
data_nan['HBHUR'].value_counts()

NR    151757
R      48635
Name: HBHUR, dtype: int64

In [153]:
data_nan['HBHUR_label'].value_counts()

RURAL          48635
SMALL TOWN     47063
SUBURBAN       46503
SECOND CITY    37573
URBAN          20618
Name: HBHUR_label, dtype: int64

In [154]:
data_nan['HBHUR_label'] = data_nan['HBHUR_label'].replace({'RURAL':'RURAL'}).replace(dict.fromkeys(['SECOND CITY','SUBURBAN','SMALL TOWN','URBAN'],'NOT RURAL'))

In [155]:
data_nan['HBHUR_label'].value_counts()

NOT RURAL    151757
RURAL         48635
Name: HBHUR_label, dtype: int64

In [156]:
#HBPPOPDN
data_nan['HBPPOPDN'].value_counts()

7000.0     44683
3000.0     37879
300.0      33255
50.0       27685
1500.0     26301
750.0      18771
17000.0     9786
30000.0     2032
Name: HBPPOPDN, dtype: int64

In [157]:
#HBPPOPDN
data_nan['HBRESDN'].value_counts()

50.0       44169
300.0      41323
1500.0     40045
3000.0     32241
750.0      29142
7000.0     10480
17000.0     2413
30000.0      579
Name: HBRESDN, dtype: int64

In [158]:
pop = ['HBPPOPDN','HBRESDN']
for var in pop:
    data_nan[var].replace({50:1,300:2,750:3,1500:4,3000:5,7000:6,17000:7,30000:8}, inplace=True)

In [159]:
#HBPPOPDN
data_nan['HBPPOPDN'].value_counts()

6.0    44683
5.0    37879
2.0    33255
1.0    27685
4.0    26301
3.0    18771
7.0     9786
8.0     2032
Name: HBPPOPDN, dtype: int64

In [160]:
#HBPPOPDN
data_nan['HBRESDN'].value_counts()

1.0    44169
2.0    41323
4.0    40045
5.0    32241
3.0    29142
6.0    10480
7.0     2413
8.0      579
Name: HBRESDN, dtype: int64

In [161]:
d1 = dict.fromkeys(['WA','OR','CA','AK','HI'],'P')
d2 =dict.fromkeys(['NV','ID','MT','WY','UT','CO','AZ','NM'],'M')
d3 = dict.fromkeys(['ND','SD','MN','NE','IA','KS','MO'],'WNC')
d4 = dict.fromkeys(['WI','MI','IL','IN','OH'],'ENC')
d5 = dict.fromkeys(['NY','PA','NJ'], 'MA')
d6 = dict.fromkeys(['VT','NH','ME','MA','CT','RI'],'NE')
d7 = dict.fromkeys(['TX','OK','AR','LA'], 'WSC')
d8 = dict.fromkeys(['KY','TN','MS','AL'], 'ESC')
d9 = dict.fromkeys(['WV','MD','DE','DC','VA','NC','SC','GA','FL'],'SA')

In [162]:
dict_m = {**d1, **d2, **d3, **d4, **d5, **d6, **d7, **d8, **d9}

In [163]:
data_nan['HHSTATE'].replace(dict_m, inplace=True)

In [164]:
data_nan['HHSTATE'].value_counts()

SA     44157
P      42820
WSC    41607
MA     27599
ENC    23486
WNC     7964
M       7935
NE      2995
ESC     2001
Name: HHSTATE, dtype: int64

In [165]:
data_nan['HHSTATE_label'] = data_nan['HHSTATE'].replace({'SA':'SOUTH ATLANTIC','P':'PACIFIC','WSC':'WEST SOUTH CENTRAL', 'MA':'MIDDLE ATLANTIC','ENC':'EAST NORTH CENTRAL','WNC':'WEST NORTH CENTRALIN','M':'MOUNTAIN','NE':'NEW ENGLAND','ESC':'EAST SOUTH CENTRAL'})

## Missing Data

In [166]:
#Review variables
data_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200564 entries, 49977 to 38915
Data columns (total 52 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   HOUSEID                 200564 non-null  object
 1   PERSONID                200564 non-null  object
 2   VEHID                   200564 non-null  object
 3   CAR                     198663 non-null  float64
 4   CARSHARE                200271 non-null  float64
 5   CAR_label               198663 non-null  object
 6   DRVRCNT                 200564 non-null  float64
 7   EDUC                    200424 non-null  float64
 8   EDUC_label              200424 non-null  object
 9   GT1JBLWK                114467 non-null  float64
 10  GT1JBLWK_label          114467 non-null  object
 11  HBHUR                   200392 non-null  object
 12  HBHUR_label             200392 non-null  object
 13  HBPPOPDN                200392 non-null  float64
 14  HBPPOPDN_label          200392 non-null  object
 15  HBRESDN                 200392 non-null  float64
 16  HBRESDN_label           200392 non-null  object
 17  HHFAMINC                194349 non-null  float64
 18  HHFAMINC_label          194349 non-null  object
 19  HHSIZE                  200564 non-null  float64
 20  HHSTATE                 200564 non-null  object
 21  HHSTATE_label           200564 non-null  object
 22  HHVEHCNT                200564 non-null  float64
 23  HOMEOWN                 200522 non-null  float64
 24  HOMEOWN_label           200522 non-null  object
 25  OCCAT                   114419 non-null  float64
 26  OCCAT_label             114419 non-null  object
 27  PLACE                   196881 non-null  float64
 28  PLACE_label             196881 non-null  object
 29  PRICE                   199877 non-null  float64
 30  PRICE_label             199877 non-null  object
 31  R_AGE                   200269 non-null  float64
 32  R_HISP                  200281 non-null  float64
 33  R_HISP_label            200281 non-null  object
 34  R_RACE                  199564 non-null  float64
 35  R_RACE_label            200564 non-null  object
 36  R_SEX                   200442 non-null  float64
 37  R_SEX_label             200442 non-null  object
 38  TIMETOWK                98932 non-null   float64
 39  VEHAGE                  199483 non-null  float64
 40  VEHOWNED                200405 non-null  float64
 41  VEHOWNED_label          200405 non-null  object
 42  VEHOWNMO                30822 non-null   float64
 43  WKFTPT                  114404 non-null  float64
 44  WKFTPT_label            114404 non-null  object
 45  WKRMHM                  99042 non-null   float64
 46  WKRMHM_label            99042 non-null   object
 47  WRKCOUNT                200564 non-null  float64
 48  YEARMILE                147843 non-null  float64
 49  YOUNGCHILD              200564 non-null  float64
 50  fueltype_numeric        200564 non-null  int64
 51  fueltype_numeric_label  200564 non-null  object
dtypes: float64(27), int64(1), object(24)
memory usage: 81.1+ MB

Get percentage missing for these variables. Ensure the weights are not missing.

In [167]:
#Get percentage and create a table
percent_missing = data_nan.isnull().sum() * 100 / len(data_nan)
missing_value_df = pd.DataFrame({'column_name': data_nan.columns,'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing',ascending=False,inplace=True)

**What threshold should we test to drop variables? I am deleting those that are completely missing

In [168]:
#Get variables where all values are missing
missing_value_df_all = missing_value_df[missing_value_df['percent_missing']==100]
missing_value_df_all
#none

Empty DataFrame
Columns: [column_name, percent_missing]
Index: []

In [169]:
data_nan['fueltype_numeric_label'].unique()

array(['Non-EV', 'EV'], dtype=object)

## Export Data

In [170]:
#export data
data_nan.to_csv(os.path.expanduser(os.path.join(BASE_DIR, "Opposite/Data/data.csv")))